click==8.0.1
coverage==5.5
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
greenlet==1.1.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2==2.9.1
SQLAlchemy==1.4.22
Werkzeug==2.0.1
flake8==3.9.2